.add {
    height: 30px;
}
.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
}
.stats .title {
    font-weight: 700;
    font-size: 20px;
    font-family: monospace;
    word-spacing: -10px;
}
.stats .count {
    margin: 15px auto;
    width: 100px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.header-title {
    font-size: 26px;
    font-family: monospace;
    font-weight: 800;
}
